.container {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(21, 20, 20, 0.8);
  opacity: .5;
  pointer-events: none;
  display: none;

  .spinner {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #697777;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
}

.active {
  display: flex;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}