.container {
  flex: 1 0;

  span {
    text-transform: capitalize;
    padding: .5rem;
    background-color: darken(#373A40, 7%);
    min-width: 60px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    height: 48px;
    display: flex;
    align-items: center;

    &:hover {
      background-color: #373A40;
    }
  }

  &.active {
    span {
      background-color: #DC5F00;
      color: #eee;
    }
  }
}