@import '@/styles/mixins';
@import '@/styles/vars';

.form {
  @include commonContainer;
  gap: 2rem;

  &.collapsed {
    display: none;

    @media (min-width: $breakpoint-for-layout-change) {
      display: flex;
    }
  }
}

.collapsed {
  display: flex;
}

.collapsedAndResultsContainer {
  @media (min-width: $breakpoint-for-layout-change) {
    display: none;
  }
}
