@import '@/styles/mixins';

.container {
  @include commonContainer;
  display: none;
}

.shown {
  margin-bottom: 2rem;
}

.button {
  display: flex;
  gap: 4px;
  width: 100%;
  align-items: center;
  font-weight: bold;
  color: #DC5F00;
  height: 48px;
}

.toCollapseForm {
  rotate: 180deg;
}

.show {
  display: flex;
}
