@import '@/styles/mixins';

.container {
  @include commonContainer;
  max-width: 520px;
  margin-bottom: 4rem;
  gap: 1rem;

  @media (min-width: $breakpoint-for-layout-change) {
    max-width: 520px;
  }

  h1 {
    font-weight: 700;
    font-size: 40px;
  }

  p {
    font-size: 14px;
    font-weight: normal;
  }
}